[2021-12-07 19:25] christiangda opened #1 "add hashCode to provider.GetGroupsMembers and scim.GetGroupsMembersBruteForce when resources are empty"
provider.GetGroupsMembers and scim.GetGroupsMembersBruteForce doesn't add the hashCode when the field "Resources" is empty

[2021-12-09 08:33] #1 closed

[2022-01-10 18:42] christiangda opened #21 "bug:"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2022-01-10 18:43] christiangda commented on #21
testing

[2022-01-10 18:43] #21 closed

[2022-01-10 18:54] christiangda opened #22 "vuln: Log entries created from user input"
**Describe the vulnerability**

Log entries created from user input
Building log entries from user-controlled sources is vulnerable to insertion of forged log entries by a malicious user.

Tracking issue for:
- [ ] https://github.com/slashdevops/idp-scim-sync/security/code-scanning/1

[2022-01-15 16:44] #22 closed

[2022-01-26 18:06] christiangda opened #30 "bug: scim: error updating groups: aws checkHTTPResponse: error code: 400 Bad Request, body"
**Describe the bug**

Error: cannot sync groups and their members: error doing the first sync: error reconciling groups: error updating groups in SCIM Provider: scim: error updating groups: aws checkHTTPResponse: error code: 400 Bad Request, body:
[code]

**To Reproduce**

Migrating from [ssosync](https://github.com/awslabs/ssosync) fails the first time syncing.

**Expected behaviour**
is expected

[2022-01-26 18:40] #30 closed

[2022-01-27 08:30] christiangda opened #32 "bug: runtime error: index out of range [0] with length 0: boundsError"
**Describe the bug**
during the reconciliation of the users when I'm migration from ssosyc to this one fails with:

[code]

**To Reproduce**
First sync under the migration from the ssosyc to this one

**Expected behavior**
The same groups and users

[2022-01-27 14:53] christiangda commented on #32
This was fixed in PR #33

[2022-01-27 14:53] #32 closed

[2022-01-28 14:58] mmb-davidsmith opened #34 "bug: Nested Groups causes sync to fail"
**Describe the bug**
When attempting to sync a group which contains another group as a member, the sync fails when trying to retrieve user details for that address.

When running, I get the following error:
`Error: cannot sync groups and their members: error getting users from the identity provider: idp: error getting user: 019c6y181bx7798, email: accounts@<domain>, error: google: error getting us

[2022-01-28 15:08] christiangda commented on #34
@mmb-davidsmith are you using the latest version [v0.0.4](https://github.com/slashdevops/idp-scim-sync/releases/tag/v0.0.4)? and deployed from the [AWS Serverless Repository](https://serverlessrepo.aws.amazon.com/applications/us-east-1/889836709304/idp-scim-sync)

[2022-01-28 15:37] christiangda commented on #34
@mmb-davidsmith ok, thanks.  I remember having implemented some mechanism to log a warning message about `groups inside group` so, looks like this is not working properly, I will check to close this.

As part of that, I will see to create a feature request to see how to implement groups inside groups from the Identity Provider side.

[2022-01-28 16:09] mmb-davidsmith commented on #34
Google does have a mechanism to expand groups when you make the API request. It is the 'includeDerivedMembership' field.

[2022-01-29 10:00] christiangda opened #35 "feat: support nested groups in Google Workspace side"
**Is your feature request related to a problem? Please describe.**
Support nested groups in the identity provider side (Google Workspace)

**Describe the solution you'd like**
It is possible  using the feature of Google Workspace directory API query parameter for [Method: members.list](https://developers.google.com/admin-sdk/directory/reference/rest/v1/members/list) `includeDerivedMembership`

AWS

[2022-01-29 10:02] christiangda commented on #34
thank you @mmb-davidsmith for this information.  I created feature request #35 to support nested groups, but before that, I'll try to fix the current problem handling the error when nested groups exist in Google Workspace.

[2022-01-29 14:49] #35 closed

[2022-01-29 14:51] christiangda commented on #34
@mmb-davidsmith I fixed this bug implementing the support for `nested groups` in `Google Workspace` via PRR #36

[2022-01-29 14:51] #34 closed

[2022-01-31 08:25] christiangda opened #37 "bug: codeVersion field is empty in the state file"
**Describe the bug**
once the state file is generated, the field `codeVersion` is empty

**To Reproduce**
run the program and check the state file

**Expected behavior**
field `codeVersion` with the same version of the program

**Screenshots**
![Screenshot 2022-01-31 at 09 24 58](https://user-images.githubusercontent.com/1197820/151760831-ad7276b2-d269-4667-aa06-2ffdaa6d7163.png)

[2022-01-31 08:31] christiangda opened #38 "bug: cloudformation template still having the parameter DisableState"
**Describe the bug**
even when it is not used, the cloudformation template still having the parameter `DisableState`

**To Reproduce**
when is used the [AWS Serverless public repository - slashdevops/idp-scim-sync](https://serverlessrepo.aws.amazon.com/applications/us-east-1/889836709304/idp-scim-sync) to deploy the lambda the parameter  `DisableState` appears in the template.

**Expected behavior

[2022-02-04 18:49] #38 closed

[2022-02-07 19:15] aleshav opened #40 "bug: Suspended Google users synced as Enabled"
First of all many thanks for your work!

**Describe the bug**
Users suspended in Google Workspace are synced to AWS SSO as Enabled

**To Reproduce**
1. Create user in Google Workspace
2. Suspend the new user
3. Sync users to AWS SSO
4. Observe: Suspended user gets synced as a normal enabled user

**Expected behavior**
User either (preferred) gets synced as "disabled" (this is how ssosync works) or

[2022-02-07 19:21] aleshav opened #41 "feat: Support for AWS profiles"
For the idpscim to be able to connect to the S3 bucket, it seems I need to populate the following environment variables:
- AWS_ACCESS_KEY_ID
- AWS_SECRET_ACCESS_KEY
- AWS_SESSION_TOKEN

Would it possible to get the credentials using profile? (e.g. using the AWS_PROFILE env var)

Thank you!

[2022-02-08 07:22] christiangda commented on #40
@aleshav I'll check this, during my tests this was working, so let me recheck to be sure according to your steps

[2022-02-11 06:20] DominikGrzywaczewski opened #42 "bug: aws CreateGroup: error decoding response body"
**Describe the bug**
Version: 0.0.6
I have issue with sync the newly created group to AWS SSO.  I added the new group and run **idpscim**  and I got error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to *Gsuite portal and add new group*
2. Run sync  command *idpscim*
3. See error

[code]

**Expected behavior**
The new added group in GSuite should be created in AWS SSO

**Addi

[2022-02-11 06:50] christiangda commented on #40
@aleshav I validated this one and the bug exists, I'm working to fix this

[2022-02-11 06:53] christiangda commented on #42
@DominikGrzywaczewski I'll check this bug, thank you for reporting this.

[2022-02-12 08:05] christiangda commented on #42
@DominikGrzywaczewski I have been trying to reproduce the error following your instructions and it is was not possible.

Looks like you `enable/disable/enable` or some similar sequence of the `SCIM auto-provisioning` in your AWS SSO, every time you enable this the tenancy and token change.

So, what is happening?

Remember that "every sync" after the "first sync" just compare the data with the sta

[2022-02-12 08:43] #40 closed

[2022-02-12 17:22] DominikGrzywaczewski commented on #42
@christiangda Thanks, as you said, I just removed state file and run sync - no errors.  I did some additionally tests by removing/adding new groups/members to G-Suite and everything working fine. Thank you!

This is a great tool, and thanks for your work!

[2022-02-12 17:22] #42 closed

[2022-02-14 09:56] christiangda commented on #41
@aleshav I implemented this and it is in the `master branch`, I have been testing this and it is working fine for me, also I added some comments into the file [Configuration](https://github.com/slashdevops/idp-scim-sync/blob/main/docs/Configuration.md) to understand how to use this.

Could you test this?

* Clone the project and use the `main` branch
* Create an AWS S3 Bucket
* Configure your AWS

[2022-02-14 22:06] jchiang-genesis opened #45 "bug: "status": "409 Conflict", not creating state file, both users and groups appeared to be synced in AWS SSO console"
Hi,
       I'm sort of new to this, I've been doing the manual provisioning in AWS SSO with google workspace directory for a while. I decied to set up the auto provisioning, went through the steps with AWS Serverless Applications. After the first sync, I can see all the users and groups synced up, but all the groups are empty and and none of the users is in their groups.  I only had 2 groups (regu

[2022-02-15 08:09] christiangda commented on #45
@jchiang-genesis to try to understand the problem you have, please could you remove manually the state file from you S3 bucket and resync?

Remove the state file is a totally save action and it is the only way to force the reconciliation between the identity provider and scim side.

After that, please share the results without share information about your users and credentials

[2022-02-15 13:59] christiangda commented on #45
Hi @jchiang-genesis thank you for the information

`idp-scim-sync` only `sync` `groups and their members, so I recommend to you read this document https://github.com/slashdevops/idp-scim-sync/blob/main/docs/Using-SSO.md

apart from that, from your explanation, I can detect a corner case bug and I will validate this, let me see if I can.

[2022-02-15 14:26] christiangda commented on #45
@jchiang-genesis I'm simulated your scenario without any success, I mean without any error, so maybe is the version of the app you have deployed.

could you deploy the latest version?

[2022-02-15 15:18] jchiang-genesis commented on #45
Hi @christiangda , I actually just deployed it yesterday, I'm not sure where I can check the version, when i checked the deployment, below is the template version, I can try re-deploying the lambda app later again and update you here.

AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: |
  This is used to keep your AWS Single Sign-On (SSO) groups and users in

[2022-02-15 16:36] christiangda commented on #45
I will try to use this new [AWS SSO Identity Store API](https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/welcome.htmll) through the [go SDK](https://docs.aws.amazon.com/sdk-for-go/api/service/identitystore/) to find a way to mitigate better this issue.

so @jchiang-genesis this is not a bug , it is a limitation in the AWS SSO SCIM API, sorry

[2022-02-15 16:55] jchiang-genesis commented on #45
@christiangda not a problem, that's why when the reconciling users, it was showing idp has 69 and scim has 50. I did look up the issues from the old ssosync, so If i can limit to only 50 users for the first sync, it creates the state file, I can then add on more users afterwards as long as the new users won't be more than 50 users incremental?

[2022-02-16 15:50] jchiang-genesis commented on #45
Thank you @christiangda for your help , just want to update everyone, once I cut down the group members to 48 for the initial sync, it worked as expected. But I did have to delete all my AWS SSO existing users and groups. then I was able to add back all the users.

[2022-02-16 15:50] #45 closed

[2022-02-16 19:16] aleshav commented on #41
Hi Christian, I can confirm it is working now :-)

Thank you!
Ales

[2022-02-16 19:28] #41 closed

[2022-02-25 14:57] christiangda commented on #37
the problem was fixed in the `cli` and `container image` but persisted in the `AWS Lambda function`

[2022-02-26 12:09] #37 closed

[2022-03-01 20:03] mikejk8s opened #48 "feat: Output State file"
Hi, awesome tool, thanks for making this.

**Is your feature request related to a problem? Please describe.**

The initial run creates the State file at the end of its process - unfortunately if it panics before getting to the end during that first run you'll wind up with no State file inside of s3. Then if you run it again you'll just get duplicate errors.

Unfortunately I have 100+ users in AWS

[2022-03-04 14:30] jdnurmi commented on #48
Commenting just in case you're bored - if you use identitystore, there is an existing paginated SearchUsers API call - but it's not officially supported - it's what the AWS console uses to list users, and doesn't require an arbitrary filter.

If you were to add it to your sdk's smithy definitions, and take advantage of this call, you could get more than 50 users at a shot.

For some reason, and I

[2022-03-04 16:19] christiangda commented on #48
thanks, @jdnurmi for the information, it is amazing, looks like there is no way to get the users, groups and members (all of them > 50) we have in AWS SSO in any way.

I will try to implement this SDK first in the `idpscimcli` first to check how this work.

[2022-03-04 17:58] christiangda commented on #48
@jdnurmi you are right, I was testing and it is impossible through the SDK either, I leave a comment in the issue you share [https://github.com/aws/aws-sdk/issues/109](https://github.com/aws/aws-sdk/issues/109#issuecomment-1059389915)

[2022-03-05 12:04] Hi-Fi opened #49 "bug: sync fail if group has members outside organization"
**Describe the bug**
If group that matches given group filter has external (from outside organization) users, sync would fail as it tries to receive information of those user(s), too.

This causes error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Add group member from outside organization
2. Ensure that that group is going to be synced
3. Run sync
4. See error

**Expected behavi

[2022-03-05 12:14] christiangda commented on #49
hello @Hi-Fi , your error is clear `Error 403: Not Authorized to access this resource/api, forbidden`, this is not a bug.

Looks like you create bad your `Google Workspace service account file`, check it again and let me know to close this.

[2022-03-05 12:23] Hi-Fi commented on #49
@christiangda You understood wrong. Groups without guest users (containing only users that are in my organization) get synced fine, but if there's even one external user, sync fails. As service account has only rights to my organization, not to guest's one.

[2022-03-07 04:44] ghost opened #50 "feat: Retrieve SAML user attributes, include in state, and provide to AWS SCIM"
**Is your feature request related to a problem? Please describe.**

Just wrapped up most of the setup - things are working well so far with the manual test... thank you!

Though - I just realized that the current implementation does *not* support SAML user attributes, and I was really hoping to take advantage of AWS's relatively new  (Nov 2020) attribute-based access control ABAC: https://aws.amaz

[2022-03-13 09:20] christiangda commented on #48
hi @mikejk8s I'm reading in detail your explanation to see if your suggestion is possible to be implemented.

[2022-03-13 09:34] christiangda commented on #50
Hi @mat-release totally agree with you, it could be a great feature.

I need to understand a little more how could be integration because actually I only use the [AWS SSO SCIM API](https://docs.aws.amazon.com/singlesignon/latest/developerguide/supported-apis.html) which is just used to populate `users, groups and groups members` with fixed fields or attributes I request to [Google Workspace Direct

[2022-03-13 09:57] christiangda commented on #49
@Hi-Fi , the problem is that `Google Workspace Directory API` doesn't say any about externals `groups or users` if you want to check it [Directory API: Group Members](https://developers.google.com/admin-sdk/directory/v1/guides/manage-group-members).

So, I used the [Golang SDK]() to retrieve these data from the Directory API, and I use [the following permission](https://github.com/slashdevops/idp-

[2022-03-13 10:19] Hi-Fi commented on #49
Thank you, have to check those.

One thing at app side could be to ignore 403, if at some way the connection is already ensured, and just print warnings about those.

As internals are (usually) more interesting than externals.

[2022-03-14 12:19] snavarro-factorial opened #51 "bug: 401 Unauthorized when using search query parameter"
**Describe the bug**
Whenever I try to sync with with a search query I get this error:
`Error: cannot sync groups and their members: error doing the first sync: error getting groups from the SCIM service: scim: error listing groups: aws checkHTTPResponse: error code: 401 Unauthorized, body:`

**To Reproduce**
Steps to reproduce the behavior:

1. Create a group called "SysAdmin" in Google Admin.
2.

[2022-03-15 18:50] christiangda commented on #51
Hi @snavarro-factorial could you validate your `Google Service Account` created?, because looks like the `Google email account` associated with the `Google Service Account` doesn't have sufficient access.

that is why you are receiving `... error code: 401 Unauthorized ...`  as a part of your error message.

Please confirm that to close this issue

[2022-03-16 10:32] snavarro-factorial commented on #51
That was my first option, but I've checked and:
- I tested both with my email (superuser) and the Google Workspace owner email (and with owner permissions on the Google Service Account).
- I tried removing Domain-Wide Delegation, the error changes into this:
[code]
- As soon as I create the Domain-Wide Delegation again, I get the same 401 error.

My roles in Google Workspace are:
- Super Admin
- G

[2022-03-18 18:53] christiangda commented on #48
Hi, @mikejk8s and @jdnurmi I implemented some `workaround` to avoid errors when `users and groups` already exist on `the AWS SSO side`, I'm merged in  PR #52 and I'll release that feature in the `v0.0.10`

[2022-03-18 18:58] #48 closed

[2022-03-19 11:12] christiangda commented on #51
hi @snavarro-factorial , thank you for the details in your issue.

Important things here, the problem is with the `Google Workspace Service Account`, if you see that last part of your `error message` `...oauth2: cannot fetch token: 401 Unauthorized ...`

I would like to help you because looks like issue #49 are the same problem, which is the `configuration of credentials` for `Google Workspace`.

[2022-03-19 11:13] christiangda commented on #49
Hi @Hi-Fi could you check my last comment in issue #51 ? I would like to help you with your error.

[2022-03-19 12:03] Hi-Fi commented on #49
I'll try that after adding guest user back (on creating just one test group to test).

[2022-03-20 12:01] Hi-Fi commented on #49
@christiangda I created group with 2 external members (so 3 members in total; me, my gmail account and user from other Worksuite domain). Listing both users and groups work, as I think that those do as they say: they fetch only groups and members in the domain, not  members in the group.

What would be needed would be to get members of the group, but I think that's not directly available to be cal

[2022-03-20 12:26] Hi-Fi commented on #49
Added member listing option:
[code]

That prints out users correctly:
[code]

Note that (apparently) guest users doesn't have status set, that exists only at the domain's own user(s).

[2022-03-20 12:45] christiangda commented on #49
Amazing @Hi-Fi, you found the problem!, looks like the `status` field is the problem because `I request this in the query` to `Google API`, see https://github.com/slashdevops/idp-scim-sync/blob/03862d033ef2ddf8892a8eadee3feebb0c9380c6/pkg/google/google.go#L16

So, could be that the `API` returns the error `Error 403: Not Authorized to access this resource/api` when you request this field.

Maybe I

[2022-03-20 12:49] christiangda commented on #51
Hi @snavarro-factorial see the latest comments on issue #49, for sure this is the error that is affecting you too.

https://github.com/slashdevops/idp-scim-sync/issues/49#issuecomment-1073243439

[2022-03-20 12:49] christiangda commented on #51
this is a duplicate issue of #49

[2022-03-20 13:25] christiangda commented on #49
@Hi-Fi I added your command, this will be available in the next release

https://github.com/slashdevops/idp-scim-sync/blob/c808440cfe6aec0b065a7b136ed66684d2af2ca0/cmd/idpscimcli/cmd/gws.go#L189

[2022-03-20 14:04] Hi-Fi commented on #49
Thank you, that command was just quick way to see the issue :)

Maybe it would even be enough to take active users, as that way it's easier to remove user from AWS side when disabled. But that's probably more a feature than fix.

[2022-03-20 15:00] christiangda commented on #49
@Hi-Fi could be great if you:

1. clone the current `main branch`
2.  remove the field `status` from  https://github.com/slashdevops/idp-scim-sync/blob/03862d033ef2ddf8892a8eadee3feebb0c9380c6/pkg/google/google.go#L16
3. compile it using the command `make`
4. use `build/ipscim` command to do the sync

if this works for you I'm going to request the same from the author of issue #51 and then I will

[2022-03-20 16:56] Hi-Fi commented on #49
I'll try to check this ASAP. Also will check same time guest user functionality in general if those should just be ignored.

[2022-03-20 17:57] Hi-Fi commented on #49
I think status here is not the issue, as it ofc can be removed but that way e.g. gmail users that can be added as guests (or e.g. MS accounts) still cause error, as there's not information about the users that can be fetched through the APIs. So I'll make PR that would handle the guests by ignoring those.

I think that would be also logical, as guests can't login with domain specific login to Work

[2022-03-21 07:39] #49 closed

[2022-03-21 11:46] snavarro-factorial commented on #51
Thanks for the help! I'll reply on this issue since the other is closed.

(Delegation permissions are set up as you said, everything correct from that side)
I cloned the repo with all of the changes and compile it to test with lastest code, just in case, and this was the result:

[code]
That actually works, and if I remove the filter, it actually shows all groups. `gws users list` does also work,

[2022-03-21 12:06] snavarro-factorial commented on #51
Oooooh *facepalm*
I've been putting the credentials.json info into the service account access key parameter for a week -.-'
Now it works... Sorry a lot.

[2022-03-21 12:06] #51 closed

[2022-03-22 06:57] mat-release opened #57 "bug: Changing a Google User's primary email leads to uncaught exception"
**Describe the bug**

A Google Workspace can have multiple Gmail domains, e.g. `@foo.com` and `@bar.com`. If a user's email domain is changed after previously synced to AWS SSO via SCIM, then a subsequent SSO sync attempts to create a new user  leads to an error.

[code]

**Afterward**, if I re-run the SSO sync script, a **new** error appears. This time, the program attempts to duplicate the group

[2022-03-22 07:32] christiangda commented on #57
Hi, @mat-release thank you for reporting that.  Which version of the software are you using? the latest one?

[2022-03-26 09:19] christiangda commented on #57
@mat-release this was fixed in #45, release [v0.0.10 ](https://github.com/slashdevops/idp-scim-sync/releases/tag/v0.0.10).  Could you confirm that?

[2022-04-06 12:10] goosefraba opened #59 "que: What steps have to be performed on Google Side?"
Hey I set up AWS SSO with all the regular actions done on Google Workspace.

But when launching this app from the Serverless Application Repository, I have to enter the file contents for the service account credentails from Google.
This part in particular would be nice to be documented.

Eventhough I set up a service account and downloaded the keys as json. I get an authentication error in the lam

[2022-04-08 08:02] Parent5446 commented on #59
Other than creating the account, the main other thing you need to do is enable the Admin API, and then to set up domain-wide delegation using the steps here: https://developers.google.com/admin-sdk/directory/v1/guides/delegation

When setting up delegation, here are the scopes you need to enable: https://github.com/slashdevops/idp-scim-sync/blob/5eec83f4f7136e9c7d6475f1032b0edca2a99f19/cmd/idpscim

[2022-04-10 10:07] christiangda commented on #59
thank you @Parent5446 for your answer and @goosefraba I will create better documentation explaining it very well.

[2022-04-12 19:21] #57 closed

[2022-04-14 08:37] christiangda opened #61 "bug: 404 Not Found"
**Describe the bug**
Error deleting user that doesn't exit in the SCIM side

[code]
[code]
**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
generate a warning log with the message and continue with the execution removing the user from the state

[2022-04-15 14:21] christiangda opened #62 "bug: Request is unparsable, syntactically incorrect, or violates schema."
**Describe the bug**
due to `limitations in the AWS SSO SCIM API`, specifically the [patchgroup](https://docs.aws.amazon.com/singlesignon/latest/developerguide/patchgroup.html) operation when some groups have more than `100 members`

[code]

the `ACIM API` response with:

[code]

**To Reproduce**
Have a group in `Google Workspace` with` more than 100 members`

**Expected behavior**
do the sync wit

[2022-04-15 16:45] #62 closed

[2022-04-23 19:20] Parent5446 opened #66 "feat: Possible support for Workload Identity Federation in GCP"
**Is your feature request related to a problem? Please describe.**
The Lambda function that's run on AWS requires JSON credentials for a GCP service account, which includes a non-rotatable secret key, and through which has broad access to all gSuite user data.

**Describe the solution you'd like**
GCP has a feature [Workload Identity Federation](https://cloud.google.com/iam/docs/workload-identity-

[2022-04-25 10:04] christiangda commented on #66
@Parent5446 this looks like a good feature, let's me see how we can implement it.

[2022-04-26 13:14] harrywm opened #67 "que: 404 Domain not found"
Hi there,

I'm currently attempting to setup your tool using the Serverless Application Repository Cloudformation stack. I've followed your documentation and setup Automated Provisioning, Google Service Account, enabled Domain-wide delegation and provided the necessary OAuth Scopes mentioned in another Issue. Upon running the tool I'm receiving the following error:

[code]

I'm wondering if this i

[2022-04-28 21:17] neil-sookhoo-mission opened #68 "que: Environment variable format for IDPSCIM_GWS_GROUPS_FILTER"
Hi there,

I successfully deployed the lambda function using the AWS Serverless Repository and was able to sync all Users and Groups into my AWS account by leaving the IDPSCIM_GWS_GROUPS_FILTER blank.

However, I want to sync only a few Groups and my understanding is the only way to achieve this is filter all Groups except the ones I want to sync using IDPSCIM_GWS_GROUPS_FILTER.

I tried setting t

[2022-04-29 09:07] qq851185223 opened #69 "que: Hey, I want to ask what is "tenant_id"? As same as aws account id? Thank you!"

[2022-04-29 09:17] christiangda commented on #69
Hi @qq851185223 , the tenant id is in your AWS SSO auto-provisioning configuration.  and it is part of the URL of AWS SSO configuration for auto-provisioning.

Why do you need that?,  in fact, what you need is the URL, not the tenant id.

See images attached

![Screenshot 2022-04-29 at 11 13 18](https://user-images.githubusercontent.com/1197820/165917435-50debe42-eccf-4106-9973-522081ab862d.png)
!

[2022-04-29 09:21] christiangda commented on #68
hi @neil-sookhoo-mission , maybe this can help you: https://github.com/slashdevops/idp-scim-sync/blob/main/docs/Configuration.md

[code]

try to use single quotes for each group.  In my case, I follow these instructions to avoid the use of too many groups: https://github.com/slashdevops/idp-scim-sync/blob/main/docs/Using-SSO.md

[2022-04-29 09:24] qq851185223 commented on #69
Wow, thank you very much, your answer is very useful, it solved the doubts that bothered me all day.

[2022-04-29 12:59] christiangda commented on #67
Hi @harrywm , Looks like the `user email` you need to authorise in the google `service account credential` is not the same user email you are using for.

I mean, Google API mechanism is weird, but the email of the user must match with the domain and user email you use for the `service account` and also have the permission requested by the program:

[2022-04-29 14:29] harrywm commented on #67
Amazing thank you! Got all the different params mixed up in my head a bit i think!
Thanks again, and for the quick response!

[2022-05-11 03:54] guilhermeblanco opened #70 "feat: Option to never delete group (upsert only)"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when Google APIs decide to barf and exclude several groups on AWS SSO side.
Google APIs have failed multiple times in the last 5 weeks. When it does, it consistently returns 502 for several minutes (idp-scim-sync handles it nicely!) and when it returns, for another minute it wildly provide a subset of existent

[2022-05-11 10:59] christiangda commented on #68
@neil-sookhoo-mission could you validate if this is a bug or is missing information?

[2022-05-11 23:19] neil-sookhoo-mission commented on #68
nope, all good. thanks for answering my question.

[2022-05-11 23:19] #68 closed

[2022-05-18 04:23] jdonohoo commented on #70
Yes please... this has happened to us 2-3 times in the last 45 days or so

[2022-05-19 06:56] christiangda commented on #70
hi @guilhermeblanco  @jdonohoo sorry to hear about that.

I'll see if I can implement some workaround to this google API problem.  The thing here is the `consistency`, I mean I created this tool because of the consistency, I mean from the point of the `state file` this need to maintain the `exactly google workspace state`, if now I change this to be inconsistency when is going to be consistency ag

[2022-05-19 07:32] jdonohoo commented on #70
@christiangda I understand the concept of the state file and workspaces being the source of truth, but APIs do go down. When the ICP sync lambda runs if there is a google outage / error instead of doing nothing... It is wiping out the group that error'd.

So the source of truth is failing to be the source of truth, so it deletes Groups from AWS SSO. When Google stops failing it recreates the group

[2022-05-19 14:20] guilhermeblanco commented on #70
Hi @christiangda,

I completely understand your point of view. Google is source of truth, and in an ideal world it can be 100% trusted. But unfortunately, system designs cannot 100% uptime and accuracy, so that's why they are 99.99% reliable (Google Directory API is 4, not 5 9's).
What I see from the tool is that it is a synchronization tool, not a 1:1 synchronization tool. Otherwise, flags like g

[2022-05-20 17:46] jdonohoo commented on #70
@guilhermeblanco  we also use EKS, and are living through the pain real time.
My script got devs/admins back into AWS so they can continue to work.

However, now they have no cluster access to EKS until some one in our ops group goes and redoes the mappings like you described.

This is a total nightmare, we are at the same point of considering forking which seems like the wrong approach for everyo

[2022-05-21 15:44] christiangda commented on #70
hi @guilhermeblanco, @jdonohoo thank you for the detailed information and explanation.

Now I understand very well your problem.

I'm checking the code to figure out how to mitigate this, but I will need your help.

Let me first explain a little bit about the [main workflow - png](https://github.com/slashdevops/idp-scim-sync/blob/main/docs/images/diagrams/idpscim--workflow.drawio.png)   /   [main

[2022-05-25 03:16] guilhermeblanco commented on #70
Hi @christiangda!

I completely understand you.
As a quick stop-gap, I upgraded to version 0.0.12 (we were running 0.0.10 now, the trace was from solid months ago). I'll actively monitor the lambda execution and in case this issue happens again, I'll be able to report here.

My ask is to keep the ticket open for now until I either come back in 30 days to close it, or the issue happens again and we

[2022-06-04 20:18] obscurerichard commented on #70
This feature would have been useful to have for another reason - I just tried to use this project on an SSO installation that had a bunch of manually created groups. It ended up deleting all of them, which I did not expect. In a situation where you are transitioning to using groups provisioned by SCIM it would be nice to be able to keep any manually-created groups until they could be fully depreca

[2022-06-08 02:00] guilhermeblanco commented on #70
Hi @obscurerichard! You are absolutely right, this feature would fit nicely.

[2022-06-08 02:12] guilhermeblanco commented on #70
Hi @christiangda!

As I mentioned, I'd closely monitor these executions and report back on next Google failure. Today at 16:40 EST we had another episode.

Personally, I think it is time to have this supported, and I'll gladly review again your flowchart and dedicate some time to have this implemented. A PR should come your way within the next few days, but please be patience as I am not a Go deve

[2022-06-08 02:21] guilhermeblanco commented on #70
Adding to the issue, even though Google API seems to be back to normal, it is still consistently returning only a static subset of Groups (doesn't change query you query multiple times), and it is not creating the groups anymore.
This is feeling more like a pagination issue on top of the issue that deleted 72 groups.

[2022-06-15 21:16] obscurerichard commented on #59
I've had success following the steps described in https://github.com/awslabs/ssosync#google to get the Google service account set up required for this project.

[2022-07-12 07:13] m1keil commented on #70
Just a drive by comment from someone who is evaluating solutions for that lack of SCIM support between AWS and Google Workspace:

Maybe instead of deleting immidietly, you can mark it as candidate for deletion with a due date (say in 3 days). Remove the mark when/if Google API gets back to its old self. And actually remove after mark expires.

[2022-07-15 12:10] snavarro-factorial commented on #62
Hi there!
This bug appeared again for us; we're using last version (0.0.13).
We're syncing three groups, and one of them have more than 100 users (137 right now).
I deleted the state to force a clean run of the sync app, but it still returns that error.
Thanks a lot!

[2022-07-16 12:41] christiangda commented on #62
hi @snavarro-factorial, could you provide some logs to understand your case?

[2022-07-18 09:36] snavarro-factorial commented on #62
Sure!
First it starts syncing as it normally does, typical loop of "creating user -> it already exists":
[code]

After that loop finishes, it continues with this:
[code]

And then the error:
[code]

After that, it just outputs the help usage.

Thanks a lot!

[2022-07-18 10:12] snavarro-factorial commented on #62
This is the error if I try to use the command line version:
[code]
What does it mean with "specified endpoint"? S3 VPC endpoints? Previously it worked just with the s3 bucket name, but I tried with ARN just in case:
[code]

Thanks!

[2022-07-18 11:58] snavarro-factorial commented on #62
More info, I actually deleted some users on SSO, rerun the lambda/CLI, and it recreates everything, but in the end throws that error and doesn't create a state file in S3.

[2022-07-18 18:34] christiangda opened #75 "bug: 400 error when list groups members"
This issue come from a comment in issue #62

Hi there!
This bug appeared again for us; we're using last version (0.0.13).
We're syncing three groups, and one of them have more than 100 users (137 right now).
I deleted the state to force a clean run of the sync app, but it still returns that error (and doesn't recreate the state.json).
Thanks a lot!

_Originally posted by @snavarro-factorial in htt

[2022-07-18 18:35] christiangda commented on #75
more information here: https://github.com/slashdevops/idp-scim-sync/issues/62#issuecomment-1186981877

[2022-07-18 18:39] christiangda commented on #62
@snavarro-factorial this is a new issue, this is not the same issue #64

I opened a new issue with your comment with the number #75, let's continue the traceability there.

[2022-07-19 09:33] snavarro-factorial commented on #75
Hi!
I'll put here again the command and the "full" log of it and what it does:

Info:
[code]

Command:
[code]

Output:
[code]

Result:
Users seem to be created (there are some cases in which some user email was changed in Google and those aren't recreated until I delete the previous user, but I don't care about that now).
I didn't check if groups are being created too.
What I'm sure, is that users

[2022-07-19 17:32] christiangda commented on #75
@snavarro-factorial thank you very much for your detailed information, I have an idea of the problem, but I need your help to understand better what is happening.

The problem is here https://github.com/slashdevops/idp-scim-sync/blob/caa22711e713319283bd9651f0fbed2eeb26dcb9/internal/scim/scim.go#L602

I don't know why after getting the `users` and `groups` from the `SCIM side`, it looks like some

[2022-07-20 13:46] snavarro-factorial commented on #75
Thanks for all the help!

I've done as you said, and the trace in that particular point is as follows:
[code]

It's actually true that `SCIMID` is empty, so I went to the trace where it retrieves that user info, and this is what I've got (I replaced email to TEST_EMAIL and username to TEST_USERNAME):
[code]

In any case, I'll attach the "full" log (I removed all the lines regarding other users and

[2022-07-20 16:20] christiangda commented on #75
thank you very much @snavarro-factorial , now I have a better idea of the problem.

Looks like the AWS SCIM API changes as you commented, our problem is here

[code]

ones the user is created, I don't know why retrieving information the id is empty, and this is why after when trying to find the groups fail

line of code where start the problem:
https://github.com/slashdevops/idp-scim-sync/blob/caa

[2022-07-20 16:32] christiangda commented on #75
also @snavarro-factorial please fetch the latest change I did to the branch `fix-issue#75` and build and run the code again.

I added a new `trace log` to see the raw data coming from the `AWS SCIM API` when I retrieve the user information.

https://github.com/slashdevops/idp-scim-sync/blob/8dcb63777c316fb53feb0badcea0dab840e2cf84/pkg/aws/scim.go#L406

Then please share the relevant information yo

[2022-07-21 09:56] snavarro-factorial commented on #75
Hi there!
Nope, that user is "**Active**" in Google :(
And attached the log with the latest branch changes (obfuscated with same TEST_USERNAME and TEST_EMAIL placeholders). This time is the actual full log, I didn't trim anything because for some reason it didn't try to create all users again, but it fails with the same user as before (don't know if it'll fail with other users since it stops there

[2022-07-30 19:03] christiangda opened #76 "bug: users are not updated when you have more than 50 users"
**Describe the bug**
If you have more than 50 users, and the attributes of the users in the SCIM side are different from the IDP side the first time, only the first 50 users are updated, the others no.

**To Reproduce**
Steps to reproduce the behaviour:

1. sync with you idp more than 50 users
2. after the first sync, remove the state file from AWS S3
3. go to AWS SSO console interface and disable

[2022-07-30 20:10] christiangda commented on #76
close with PR #77

[2022-07-30 20:10] #76 closed

[2022-08-01 09:54] snavarro-factorial commented on #75
Hello!
A coworker that knew about Go checked the code and with some breakpoints and tests we could make it work in the end; it seemed to be related to leftovers of accounts that had their email changed and the sync app couldn't delete and recreate them.
Probably for these cases it'll be nice a parameter to "force recreate everything"? Because until now I just had to delete the state and then re-ru

[2022-08-14 17:57] christiangda commented on #75
hi @snavarro-factorial I think I fixed the problem you are having

After several code changes and improvements, also I detected at least 4 bugs already fixed and new code is merged in the `main` branch.

I'm waiting for your confirmation of the bug mitigation to close this ticket and create a new release.

Could you test again using the fresh code from the `main` branch?  set the in ìnfo` level an

[2022-08-16 15:39] #75 closed

[2022-08-16 15:40] christiangda commented on #75
fixed in release #v0.0.12

[2022-08-17 09:40] snavarro-factorial commented on #75
Sorry, since I have no error already because I synced "from scratch" I can't test it properly :(
In any case, I'll deploy the new version and open an issue in case I find anything on it, thanks!

[2022-08-17 10:00] christiangda commented on #75
hi @snavarro-factorial thank you very much, don't worry, I understand.

Also, I would like to let you know that now this is fixed and tested in v0.0.14.

Now you can change the primary keys of the entities without any problem.

Users -> email
Groups -> Name

[2022-08-19 15:25] christiangda commented on #66
I will focus in this feature to see of this is possible for next release v0.0.15

[2022-08-22 16:10] nerdingasnate opened #80 "feat: run getSecrets not only as lambda"
**Is your feature request related to a problem? Please describe.**
I am trying to run idp-scim-sync in a k8s pod, but it does not work as it expects to have a credentials.json locally instead of an aws secret as when running like aws lambda.

**Describe the solution you'd like**
I would like for it to use environment variables to read secrets if they are set as it does when running like a aws lamb

[2022-08-28 15:58] christiangda commented on #80
hi @nerdingasnate, thank you very much for trying to use this software in k8s.

I created https://github.com/slashdevops/idp-scim-sync/pull/81 with an initial implementation of this feature.

Could you try to build this locally and test this implementation before I continue?

You will find new `flags` in the `idpscim` program, among which is `-g, --use-secrets-manager                           use

[2022-09-02 11:35] sonrai-doyle opened #82 "que: Implementing the new indentitystore APIs?"
Amazon just announced new APIs to manage SSO users and groups, I'm hoping to get a first impression if there's any interest in migrating to them?

https://aws.amazon.com/blogs/security/announcing-new-aws-iam-identity-center-apis-to-manage-users-and-groups-at-scale/

https://docs.aws.amazon.com/sdk-for-go/api/service/identitystore/

[2022-09-02 20:02] dalepaul-RL opened #83 "bug: Cannot sync groups and their members"
**Describe the bug**
Error when trying to sync users and groups. The users import, as to the groups. However, during the add members to groups phase a fatal error is returned.
Version: v0.0.14

**To Reproduce**
CloudWatch trace logs for a sample request

{
    "idp": 2,
    "level": "info",
    "msg": "reconciling groups members",
    "scim": 2,
    "time": "2022-09-02T17:05:53Z"
}

{
    "level":

[2022-09-03 12:04] christiangda commented on #83
hi @dalepaul-RL , Let me check this.

Unfortunately, your log doesn't tell too much.  I need to understand how to replicate this in my environment, so could you help me do that?

I do several manual tests before releasing a new version, I create, change, delete, etc users and groups on both sides, but I need a clue to understand your error better.

I need to understand if this is a corner case, wh

[2022-09-05 11:02] christiangda commented on #82
hi @sonrai-doyle I tried this before but it has the same limits as SSO API (50 users and groups)

but looks like now they support the pagination of the users and groups
https://github.com/aws/aws-sdk/issues/109

I will check the Go SDK to be sure support wildcard "*" filter or something to retrieve the entities

[2022-09-05 11:54] christiangda commented on #82
This new API /https://pkg.go.dev/github.com/aws/aws-sdk-go-v2/service/identitystore#pkg-overview) support all the operations I need to deprecate the AWS SSO SCIM API (https://docs.aws.amazon.com/singlesignon/latest/developerguide/supported-apis.html), So I will work in creating a new big release with these changes

[2022-09-05 15:08] dalepaul-RL commented on #83
Christian,
As mentioned in prior post, a fresh sync adds the users and the groups OK, but fails on the very first user every time in attempting to process the return results from the request: "url": "https://scim.us-east-1.amazonaws.com/xxxxxxxxxxxxxxxxx/scim/v2/Users?filter=userName+eq+%22first.last%40example.com%22"
return result:
{
"body": "{"totalResults":1,"itemsPerPage":1,"startIndex":1,"sch

[2022-09-05 18:31] dalepaul-RL commented on #83
Figured out the problem. While I was correct about the problem being a parser error, it was caused by a user who has a primary username of "chris.lastname@example.com" and a secondary email of "christopher.lastname@example.com". The Google user group was using his secondary email address for his membership". This caused the error in the addusernametogroup function when it could not reconcile the u

[2022-09-06 17:13] christiangda commented on #83
Thank you @dalepaul-RL , I'll try to implement this corner case too.

[2022-09-13 22:07] dalepaul-RL opened #87 "only 200 of 263 google group members are loaded"
**Describe the bug**
Only 200 users of 263 members of a google group are sync'd
All appropriate users are added to Identity Center user base, but adding the members to groups seems to be where the problem lies.

**To Reproduce**
Sync a group containing more than 200 members. You will see two "batches" of 100 users each are retrieved. Syncing stops after the second batch with no error. If you add a

[2022-09-16 19:52] dalepaul-RL commented on #87
I tracked this down to a bug in the Go Admin SDK. https://issuetracker.google.com/247106193
The issue is when adding fields to the URL for a shortened response results in the nextPageToken not being sent.
Since this is not a bug in this code base, and I am not familiar with the configuration parameters to know if this code base can no use the shortened response format, you may close this issue.
Th

[2022-09-28 15:22] dalepaul-RL commented on #87
FIX:
please add "nextPageToken" to the fields list in google.go lines 17-19
[code]

This will resolve the issue of your program not paginating results from the Google API

[2022-09-29 10:57] christiangda commented on #87
Hi @dalepaul-RL sorry for being late here and thank you very much for taking care of this.

I will add the field required soon and I will release a new version.

[2022-09-29 15:11] dalepaul-RL commented on #87
Glad to help, and thank you for getting this corrected in a new version. I look forward to using your app to sync out Identity Center in production soon. Best wishes.

[2022-10-01 10:59] #80 closed

[2022-10-01 11:34] christiangda commented on #87
fixed in PR #90

[2022-10-01 11:34] #87 closed

[2022-11-21 18:34] delenamalan opened #92 "Getting "error decoding response body: EOF" error when log-level=trace"
I'm getting the following "error decoding response body: EOF" error when log-level=trace in the `GetUserByUserName` method:

Source code:

https://github.com/slashdevops/idp-scim-sync/blob/094a7fcb99956983f97880cb37d2888810cdfb73/pkg/aws/scim.go#L489-L503

@snavarro-factorial mentioned it in [this comment](https://github.com/slashdevops/idp-scim-sync/issues/75#issuecomment-1200978738) too.

[2022-11-25 08:35] #92 closed